<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Active Notes</a>
    </li>      

    <li class="nav-item">
      <a class="nav-link" routerLink="/produit" routerLinkActive="active">Archived Notes</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Reminders</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Last updates</a>
      </li>
  </ul>

</nav>