<!--

<app-navbar></app-navbar> 
<app-side-bar></app-side-bar> 
-->



<ng-container>

    <app-navbar username="{{this.username}}" ></app-navbar>
  
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="false">
        <app-side-bar ></app-side-bar>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <div class="note">
                  <hr>
          <app-note *ngFor="let note of notes" id="{{note.id}}" title="{{note.title}}" body="{{note.body}}"></app-note>
          
  
        </div>
  
  
      </mat-sidenav-content>
    </mat-sidenav-container>
  
  
    <mat-toolbar class="example-footer"></mat-toolbar>
  </ng-container>
  
  
  
  
  <!--
  <div class="note">
       <mat-accordion >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Creer une note
              </mat-panel-title>
              <mat-panel-description>
                Titre de la note
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <input matInput placeholder="Titre">
            </mat-form-field>
            <div class="example-button-row">
                <button mat-icon-button>
                  <mat-icon svgIcon="folder"></mat-icon>
                </button>
            </div>
           </mat-expansion-panel>
  </mat-accordion>
   <mat-accordion>
           <br>  
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Note Title
              </mat-panel-title>
              <mat-panel-description>
                
                Description
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="menu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
              <mat-menu #menu="matMenu">
               
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item >
                  <mat-icon>Archive</mat-icon>
                  <span>Archiver</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>update</mat-icon>
                  <span>modifier</span>
                </button>
              </mat-menu>
          </mat-expansion-panel>
        </mat-accordion> 
      </div>
  -->